body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    font-weight:bolder;
    text-align: center;
}
p{
    color: black;
    font-weight:bolder;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bolder;
}

form input, form select, form button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #007BFF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: #0056b3;
}
